body{
    background-color: rgb(78, 78, 159);
}
#texto{
    text-align: left; 
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 30px; 
    color: #ddacac; 
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
#boton {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  #boton:hover {
    background-color: #45a049;
  }
  #boton:active {
    background-color: #3e8e41;
  }